/* ==========Fonts========= */
$SF: 'SF UI Text', sans-serif;
$Roboto: 'Roboto', sans-serif;
/* ==========Color========= */
$white: #fff;
$green: #91aa59;
$green-light: rgba(#91aa59, 0.5);
$black: #000;

/* ==========Mixins========= */
@mixin circle {
  display: block;
  border-radius: 50%;
  background-color: $green-light;
}

@mixin circle-empty {
  display: block;
  border-radius: 50%;
  border: 8px solid  $green-light;
}
