.button {
  position: relative;

  display: inline-block;
  width: 17.7em;
  height: 3.8em;

  font-size: 14px;
  color: $white;
  border-radius: 2.14em;
  border: 2px solid $white;
  line-height: 3.8em;
  text-align: center;

  transition: all 0.3s;

  &:after {
    content: url('../img/arrow-btn.png');
    position: absolute;
    right: -40px;
    top: 55%;
    transform: translateY(-50%);
    transition: all 0.5s;
  }

  &:hover {
    color: $green;
    background-color: $white;
  }

  &:hover:after {
    right: -80px;
    opacity: 0;
  }

  &--small {
    width: 16.6em;
  }
}
