.intro {
  position: relative;

  &__container {
   /*  position: relative; */
   display: flex;
   justify-content: space-between;
  }

  &__img-girl {
    position: relative;
   /*  position: absolute;
    z-index: -1;
    right: 0;
    top: -51%; */

    img {
      max-width: 100%;
      width: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -1;
      width: 455px;
      height: 455px;
      @include circle;

      transform: translate(-50%, -50%);
    }

    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 100px;
      z-index: -1;
      width: 59px;
      height: 59px;
      @include circle;
    }

  }

  &__inner {
    margin-top: 138px;
  }

  &__title {
    font-family: $Roboto;
    font-size: 58px;
    font-weight: 300;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 4.36px;
  }

  &__subtitle {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30.68px;
  }

  &__button {
    margin-top: 45px;
  }
}

@media (max-width: 1365px) {
/*   .container {
    max-width: 690px;
  } */
}
